<div class="container__big-card">
    
    <div class="big-card__photo">
        <img 
            src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?auto=format&fit=crop&q=80&w=2069&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt=""
            height="200px"
            srcset=""
        >
    </div>

    

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    
    <div class="big-card__description">
        <p>
            <a href="">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, vero! Dicta, nihil! Veritatis incidunt sed laboriosam accusamus, libero, ducimus soluta nulla, nihil dolores consequatur minus porro fugiat id ullam autem!
            </a>            
        </p>
    </div>
</div>